@import url('http://fonts.googleapis.com/css?family=Arvo:regular,bold');
@import url('http://fonts.googleapis.com/css?family=Arvo');

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #19171d;
	font-family: Helvetica, arial, serif;
	font-size: 1em;
	overflow: hidden;
  color: #FFF;
}

p, h1, h2, ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
  outline: none;
	text-decoration: none;
  color: #FFF;
}

a, p, span, h1 {
  font-family: 'Arvo', arial, serif;
}

a:hover {
  text-decoration: underline;
}

.zebra1 {
  color: #c80308;
}
.zebra2 {
  color: #FFF;
}

h1 {
	width: 432px;
	height: 140px;
	margin-top: 75px;
	font-size: 8em;
	letter-spacing: -4px;
}

  h1 a:hover {
    text-decoration: none;
  }

#wrapper {
	background: url(../img/bg-1.gif) 0 0 no-repeat;
  position: relative;
	padding: 20px 0;
	height: 1000px;
}

#content {
  position: relative;
	padding: 1px 0 100px 280px;
	width: 580px;
	margin: 0 auto 0 180px;
}

ul.general {
	height: 60px;
	font-family: 'Arvo', arial, serif;
}

  ul.links li {
		height: 24px;
	}
